@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Montserrat:wght@400;600&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  margin: 0;  
  width: 100%;
  min-height: 100vh;
  letter-spacing: 0.02em;
  font-size: 14px;
  margin: 0 auto;
  transition: 1.5s;  
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(18, 20, 23, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 1);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  position: relative;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}